* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

/* Main app container */
.app-container {
  padding-top: 70px; /* pushes content below navbar */
}
